<li
  *ngFor="let todo of todos; index as todoIndex"
  [class.completed]="todo.isCompleted"
  class="todo-item"
  [id]="todo.id"
>
  <input
    type="checkbox"
    [checked]="todo.isCompleted"
    (click)="toggleTodo(todo.id)"
  />

  <div *ngIf="editModeOn === todoIndex; else elseBlock">
    <input
      type="text"
      class="todo-text"
      [(ngModel)]="editTextValue"
      name="editTextValue"
    />
    <app-button
      text="Save"
      (btnClick)="editTodo(todo.id)"
      [isDisabled]="todo.isCompleted"
    ></app-button>
  </div>
  <ng-template #elseBlock>
    <span class="todo-text">{{ todo.text }}</span>

    <app-button
      text="Edit"
      (btnClick)="toggleEditModeOn(todo, todoIndex)"
      [isDisabled]="todo.isCompleted"
    ></app-button
  ></ng-template>

  <app-button text="Delete" (btnClick)="deleteTodo(todo.id)"></app-button>
</li>
