<li
  *ngFor="let todo of todos"
  [class.completed]="todo.isCompleted"
  class="todo-item"
  [id]="todo.id"
>
  <input
    type="checkbox"
    [checked]="todo.isCompleted"
    (click)="toggleTodo(todo.id)"
  />
  <span *ngIf="editModeOff" class="todo-text">{{ todo.text }}</span>
  <div *ngIf="!editModeOff">
    <input type="text" [(ngModel)]="editTextValue" name="editTextValue" />
    <app-button text="Save" (btnClick)="editTodo(todo.id)"></app-button>
  </div>
  <app-button
    *ngIf="editModeOff"
    text="Edit"
    (btnClick)="toggleEditModeOn(todo.text)"
  ></app-button>
  <app-button text="Delete" (btnClick)="deleteTodo(todo.id)"></app-button>
</li>
