<h1 style="text-align: center">Todos Tracker</h1>
<header class="todos__header">
  <!-- new todo input -->
  <input
    type="checkbox"
    [class.toggleAllOn]="toggleAllCompleted === true"
    (click)="onClick($event)"
    [disabled]="isDisabled || todos.length === 0"
  />
  <form class="new-todo-input__wrapper" (ngSubmit)="onSubmit()">
    <label for="todo-input"></label>
    <input
      class="todo-input"
      type="text"
      id="new-todo-input"
      placeholder="What needs to be done?"
      [(ngModel)]="text"
      name="text"
    />
    <input type="submit" class="new-todo__btn" value="Add" />
  </form>
</header>
